* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.product-container{
    /* border: solid 1px red; */
    padding: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.item-container{
    /* border: solid 1px red; */
    box-shadow: -0.2rem 0.1rem 0.5rem rgb(132, 136, 136);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 20rem;
    height: fit-content;
    gap: 0.1rem;
}


.productImages{
    /* border: solid 1px red; */
    align-self: center;
    width: 15rem;
    height: 15rem;
}

.title{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.price{
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.category{
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
}

.rating{
    font-weight: 600;
    font-size: 1rem;
}
