
.searchBarStyle  {
    padding: 1rem;
}

.inputTextStyle{
  padding: 0.5rem;
  padding-left: 0.5vw;
  padding-right: 4vw;
}

.inputBarStyle{
  font-size: '1rem';
  margin: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  color: white;
  background: black;
}

.inputBarStyle:hover{
    background: cyan;
    color: black;
}

