* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210609/pngtree-3d-render-online-shopping-with-mobile-and-bag-image_727266.jpg"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  /* border: solid 1px red; */
  height: 100vh;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 62.5%;
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

.headerStyle{
  background: rgb(73, 128, 73);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem;
}

.product-container{

  padding: 2rem;
}

.productImage{
  width: 15rem;
  height: 15rem;
}

.btn {
  display: inline-block;
  border: none;
  background: black;
  color: white;
  padding: 0.2rem 2rem;
  cursor: pointer;
}

.btn:hover {

  background: cyan;
  color: black;
}

.header-btn{
  background: black;
  color: white;
}
.header-btn:hover{
  background: cyan;
  color: black;
}


.image-Container {

  /* border: 1px red solid; */
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.buttonStyle{
  margin: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: white;
  background:black
}





@media screen and (max-width: 700px) {

  .image-Container {
    height: fit-content;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttonStyle{
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    color: white;
    background:black
  }
}

